<% provide(:title, @category.title) %>
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Category > Word</h3>
        </div>
    </div>
</div>

<div id="service">
    <div class="container">
        <h4>No.<%= @category.id %> <%= @category.title %></h4>
        <p>description: <%= @category.description %></p>

        <% if @category.words.any? %>

        <button type="button" class="btn btn-success btn-lg mb-3">
          <%= link_to "Create New Word!" %></button>
        
        <div class="centered">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Word ID</th>
                <th scope="col">Title</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            
            <tbody>
              <% @category.words.each do |word| %>
              <tr>
                <th scope="row"><%= word.id %></th>
                <td><%= word.words %></td>
                <td><button type="button" class="btn btn-warning mr-1"><%= link_to 'Edit', edit_admin_category_word_path(word) %></button><button type="button" class="btn btn-secondary">Delete</button></td>
              </tr>
              <% end %>
            </tbody>            
          </table>
        </div>
        <% else %>
        <div class="centered">
          <h4>Nothing is registered.</h4>
          <button type="button" class="btn btn-success btn-lg mt-3 mb-3">
          <%= link_to "Create New Word!", new_admin_category_word_path(@category) %></button>
        </div> 
        <% end %>
    </div>
</div>