            <%= form_for @user do |f| %>
            <form class="contact-form php-mail-form">

                    <div class="form-group">
                        <%= f.label :name %>
                        <%= f.text_field :name, class: "form-control" %>
                        <div class="validate"></div>
                    </div>

                    <div class="form-group">
                        <%= f.label :email %>
                        <%= f.text_field :email, class: "form-control" %>
                        <div class="validate"></div>
                    </div>

                    <div class="form-group">
                        <%= f.label :password %>
                        <%= f.password_field :password, class: "form-control" %>
                        <div class="validate"></div>
                    </div>

                    <div class="form-group">
                        <%= f.label :password_confirmation %>
                        <%= f.password_field :password_confirmation, class: "form-control" %>
                        <div class="validate"></div>
                    </div>        

                    <div class="form-send">
                        <button type="button"><%= f.submit "Save", class:"btn btn-warning" %></button>
                    </div>
            </form>
            <% end %>    