<% provide(:title, 'Manage Categories') %>
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Category List</h3>
        </div>
    </div>
</div>

<div id="service">
    <div class="container">
    <h4>There are <%= @id.count %> categories now.</h4>
    <button type="button" class="btn btn-success btn-lg mb-3"><%= link_to "Create New Category!", new_admin_category_path %></button>
        <div class="centered">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Category ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">total of Words</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @category.each do |category| %>
    <tr>
      <th scope="row"><%= category.id %></th>
      <td><%= link_to category.title, admin_category_path(category)  %></td>
      <td><%= category.description %></td>
      <td><%= category.words.ids.count %></td>
      <td><button type="button" class="btn btn-warning mr-1">
      <%= link_to 'Edit', edit_admin_category_path(category) %></button>
      <button type="button" class="btn btn-secondary">
      <%= link_to 'Delete', admin_category_path(category), method: :delete,
      data: { confirm: "You sure?" } %></button></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
    </div>
</div>